
<html>
    <head>
        <title>Vinyl shop</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/stil.css"/>
        <script type="text/javascript" src="js/script.js"></script>
    </head>
    <headear>
        <marquee behavior="scroll" direction="right" scrollamount="15" >
                
            <img src="jpgs/logo.jpg" alt="nu exsita img" height=200>
        </marquee>

    </headear>

    <nav>
        <div id="navc">
            <a href="/acasa">Acasa</a>
            <a href="/vinil">Prezentare</a>
            <a href="/cumpara">Tombola</a>
            <a href="/buy">Cumpara</a>
            <a href="/chestionar">Music Player</a>
</div>
    </nav>

    <main id="continut">

    
    <p>Un LP este un termen încetățenit în întreaga lume provenit din prescurtarea expresiei engleze long play, 
        care s-ar traduce aproximativ prin „mediu pentru audio de lungă durată”.</p>
        <p>
            Un LP se referă practic întotdeauna la o placă de patefon cu înregistrări pe ambele fețe, făcută de obicei din vinil negru, dar uneori și din metal, și cu o durată de audiție de câte circa 30 de minute pe fiecare față. 
            Diametrul LP-urilor este de aproximativ 30 cm. Pentru a fi ascultate este nevoie de un așa-numit pickup, cu o turație de 33 1/3 rpm.
             Înregistrarea propriu-zisă (doar audio) se aplică LP-ului prin turnare (în fabrică), în formă de șanț în spirală, de obicei de la margine spre centru, și neregulat ca adâncime. 
             De cele mai multe ori este vorba de o înregistrare audio stereo (cu 2 canale). LP-urile nu se pot reînregistra cu material audio nou
        </p>

        <p>
            Totul a inceput in 1877 cand Thomas Edison a inventat fonograful, un dispozitiv capabil atat sa inregistreze cat si sa redea sunete captand mici vibratii in ceara. 
            Apoi, folosind un  ac capabil sa urmeze canalul creat de vibratie, alaturi de un mic amplificator destul de primitiv, putea reda sunetele.
        </p>
        <p>
            Desi fonograful era considerat prea butucanos pentru o folosire de zi cu zi, 
            10 ani mai tarziu apare gramofonul bazat pe aceeasi tehnologie, care avea insa un motoras ce invartea un disc de 5 inch.
        </p>
        <div id="a"></div>
        <img src="jpgs/gramofon.jpg" alt="nu exsita img"  class="center">
        </div>

        <p>
            Cu timpul, aceste motoare mecanice au fost inlocuite cu cele electrice. 
            Acul a inceput sa transforme vibratia in impulsuri electrice si palnia uriasa folosita de gramofon pentru a amplifica sunetul a fost inlocuita de boxe.
        </p>
        <p>
            Aceste imbunatatiri au adus vinilurile intr-o era ceva mai moderna, ajutandu-le sa supravietuiasca pana in prezent cand sunt inca produse.
        </p>
</main>
    </body>
</html>