<!DOCTYPE html>
<html>
    <head>
    <title>Vinyl shop</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/stil.css"/>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<headear>
    <marquee behavior="scroll" direction="right" scrollamount="15" >
            
        <img src="jpgs/logo.jpg" alt="nu exsita img" height=200>
    </marquee>
</headear>
    <nav>
        <div id="navc">
            <a href="/acasa">Acasa</a>
            <a href="/vinil">Prezentare</a>
            <a href="/cumpara">Tombola</a>
            <a href="/buy">Cumpara</a>
            <a href="/chestionar">Music Player</a>
</div>
    </nav>

    <body>
<h1>De aici poti cumpara un vinil</h1>
<h2>Alege ce vrei sa cumperi din urmatoarea lista</h2>

<p >De La Soul-3 feet high and rising- <button onclick="cumpara(1)" id="1" > 400 </button> lei</p>
<p >A Tribe Called Quest-The Low End Theory- <button onclick="cumpara(2)" id="2" > 150</button> lei</p>
<p >Nas-Illmatic-  <button onclick="cumpara(3)" id="3" > 100</button> lei</p>
<p >MF-DOOM-MM FOOD- <button onclick="cumpara(4)" id="4" >420</button> lei</p>
<p >AL GREEN-Greatest Hits- <button onclick="cumpara(5)" id="5" >230</button> lei </p>
<p >Kendrick Lamar-To Pimp A Butterfly- <button onclick="cumpara(6)" id="6" >185</button> lei</p>
<p >Chilidsh Gambino-Awaken, My Love!- <button onclick="cumpara(7)" id="7" >260</button> lei</p>
<p >DURAND JONES-Private Space- <button onclick="cumpara(8)" id="8" >310</button> lei</p>
<p >AL GREEN-Still In Love With You- <button onclick="cumpara(9)" id="9" >200</button> lei</p>
<p >MILES DAVIS-Sketches Of Spain- <button onclick="cumpara(10)" id="10" >325</button> lei</p>
<p >BON IVER-22, A Million- <button onclick="cumpara(11)" id="11">200</button> lei</p>
<p >TAME IMPALA-Innerspeaker- <button onclick="cumpara(12)" id="12" >244</button> lei</p>
<p >METALLICA-S&M2- <button onclick="cumpara(13)" id="13" >199</button> lei</p>
<p >NIRVANA-Bleach- <button onclick="cumpara(14)" id="14" >241</button> lei</p>
<p >THE BEATLES-Abbey Road- <button onclick="cumpara(15)" id="15" >292</button> lei</p>
<p >FKA-TWIGSM3LL155X- <button onclick="cumpara(16)" id="16" >335</button> lei</p>
<p >APHEX TWIN-Collapse- <button onclick="cumpara(17)" id="17" >166</button> lei</p>
<p >GORILLAZ-Plastic Beach- <button onclick="cumpara(18)" id="18" >138</button> lei</p>
<p >M. TAKADA-Through The Looking Glass- <button onclick="cumpara(19)" id="19" >140</button> lei</p>
<p >DANNY BROWN-uknowhatimsayin- <button onclick="cumpara(20)" id="20" >388</button> lei</p>

<p id="cmp"><label> Pretul produselor alese este: </label> 

<label id="total"> 0 </label> <label> lei </label>

</p>
</body>
</html>