<html>
    <head>
        <title>Vinyl shop</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/stil.css"/>
        <script type="text/javascript" src="js/script.js"></script>
    </head>
    <headear>
        <marquee behavior="scroll" direction="right" scrollamount="15" >
                
            <img src="jpgs/logo.jpg" alt="nu exsita img" height=200>
        </marquee>

    </headear>

    <nav>
        <div id="navc">
            <a href="/acasa">Acasa</a>
            <a href="/vinil">Prezentare</a>
            <a href="/cumpara">Tombola</a>
            <a href="/buy">Cumpara</a>
            <a href="/chestionar">Music Player</a>
</div>
    </nav>


      


<body >
    <h1>Asculta cea mai buna muzica</h1>
    <div id="msc">
        <p>Now playing: Nas-NY State of Mind</p>
        <audio id="audio">
            
            <source src="music\Nas - N.Y. State of Mind (Audio).mp3" type="audio/mpeg">
            <source src="music\Danny Brown - 3 Tearz (feat. Run The Jewels) (Official Audio).mp3" type="audio/mpeg">
            <source src="music\Durand Jones & The Indications - Witchoo (Official Video).mp3" type="audio/mpeg">
            <source src="music\Al Green - Love and Happiness.mp3" type="audio/mpeg">
            <source src="music\De La Soul-The Magic Number.mp3" type="audio/mpeg">
            <source src="music\MF DOOM - Rap Snitch Knishes.mp3" type="audio/mpeg">
            <source src="music\Metallica - Ecstasy Of Gold.mp3" type="audio/mpeg">
        </audio>
    
        <button  id="butonM" onclick="porneste()">Porneste </button>
         
         
        <button onclick="stop()">Opreste </button>
    </div>
    
</body>
</html>