<!DOCTYPE html>
<html>
    <head>
    <title>Vinyl shop</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/stil.css"/>
    <script type="text/javascript" src="js/script.js"></script>
</head>

<headear>
    <marquee behavior="scroll" direction="right" scrollamount="15" >
            
        <img src="jpgs/logo.jpg" alt="nu exsita img" height=200>
    </marquee>
</headear>
    <nav>
        <div id="navc">
            <a href="/acasa">Acasa</a>
            <a href="/vinil">Prezentare</a>
            <a href="/cumpara">Tombola</a>
            <a href="/buy">Cumpara</a>
            <a href="/chestionar">Music Player</a>
</div>
    </nav>
    <body>
      <h1>Tombola de viniluri</h1>
      
 <p>Pentru a vedea ce vinil ai castigat apasa butonul acesta:  <button onclick="genereaza()" id="randomise">Select</button></p> 
      <p id="vinil2"></p>
 <div class="tombola"> 

 </div>
</body>
</html>