<!DOCTYPE html>
<html>
    <head>
    <title>Vinyl shop</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/stil.css"/>
    <script type="text/javascript" src="js/script.js"></script>
</head>

<headear>
    <marquee behavior="scroll" direction="right" scrollamount="15" >
            
        <img src="jpgs/logo.jpg" alt="nu exsita img" height=200>
    </marquee>
</headear>
    <nav>
        <div id="navc">
            <a href="/acasa">Acasa</a>
            <a href="/vinil">Prezentare</a>
            <a href="/cumpara">Tombola</a>
            <a href="/buy">Cumpara</a>
            <a href="/chestionar">Music Player</a>
</div>
    </nav>
    <body>
  
        <h1>Vezi cum arata coperta celor mai bune viniluri</h1>
        <br>
        <br>
        <br>
        <nav>
                        
                <a href="#sec1">Hip Hop</a> &emsp;
                <a href="#sec2">Funk/Soul </a> &emsp;
                <a href="#sec3">Rock </a> &emsp;
                <a href="#sec4">Electronic </a> &emsp;
     </nav>

     <section id="sec1">
        <h2>1)VINILURI HIP HOP:</h2><p>De La Soul-3 feet high and rising &emsp; &emsp; ATCQ-The Low End Theory &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Nas-Illmatic&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;MF DOOM-MM FOOD&emsp; &emsp; &emsp; &emsp; &emsp;  Kendrick Lamar-To Pimp A Butterfly</p>
        <img  src="jpgs/3fh.jpg" id="1" alt="nu exsita img" height=372> 
        <img src="jpgs/atcq.jpg" alt="nu exsita img" height=372> 
        <img src="jpgs/illmatic.jpg" alt="nu exsita img" height=372>
        <img src="jpgs/mmfood.jpg" alt="nu exsita img" height=372>
        <img src="jpgs/tpab.jpg" alt="nu exsita img" height=372>

</section>

<section id="sec2">
    <h2>2) VINILURI FUNK/SOUL</h2><p>AL GREEN-Greatest Hits  &emsp; &emsp; &emsp; &emsp;   CHILDISH GAMBINO-Awaken, My Love! &emsp; &emsp;    DURAND JONES-Private Space &emsp; &emsp; AL GREEN-Still In Love With You &emsp; &emsp; MILES DAVIS-Sketches Of Spain</p>
        <img src="jpgs/algr.jpg" alt="nu exsita img" height=372>
        <img src="jpgs/cgb.jpg" alt="nu exsita img" height=372> 
        <img src="jpgs/durand.jpg" alt="nu exsita img" height=372>
        <img src="jpgs/love.jpg" alt="nu exsita img" height=372>
        <img src="jpgs/mld.jpg" alt="nu exsita img" height=372>


</section>


<section id="sec3">
    <h2>3) VINILURI ROCK</h2><p>&emsp; BON IVER-22, A Million   &emsp; &emsp; &emsp; &emsp; TAME IMPALA-Innerspeaker  &emsp; &emsp; &emsp; &emsp;  METALLICA-S&M2   &emsp; &emsp; &emsp;&emsp; &emsp;  &emsp; &emsp; &emsp;  NIRVANA-Bleach &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp;THE BEATLES-Abbey Road </p>
        <img src="jpgs/11.jpg" alt="nu exsita img" height=372>
        <img src="jpgs/12.jpg" alt="nu exsita img" height=372> 
        <img src="jpgs/13.jpg" alt="nu exsita img" height=372>
        <img src="jpgs/14.jpg" alt="nu exsita img" height=372>
        <img src="jpgs/15.jpg" alt="nu exsita img" height=372>


</section>

<section id="sec4">
    <h2>4) VINILURI ELECTRONIC</h2><p> DANNY BROWN-uknowhatimsayin  &emsp; &emsp;  M. TAKADA-Through The Looking Glass &emsp; &emsp;  GORILLAZ-Plastic Beach &emsp; &emsp; &emsp; &emsp;  &emsp;  APHEX TWIN-Collapse &emsp; &emsp; &emsp; &emsp; &emsp; FKA-TWIGSM3LL155X   </p>
        <img src="jpgs/21.jpg" alt="nu exsita img" height=372>
        <img src="jpgs/22.jpg" alt="nu exsita img" height=372> 
        <img src="jpgs/23.jpg" alt="nu exsita img" height=372>
        <img src="jpgs/24.jpg" alt="nu exsita img" height=372>
        <img src="jpgs/25.jpg" alt="nu exsita img" height=372>


</section>

</body>
</html>